.item-detail-container {
     background: rgba(52, 58, 64, 0.3);
     border-radius: 10px;
}
.btn-gocart {
     display: block;
     height: 100px;
     width: 100px;
     border-radius: 50%;
     align-self: center;
     background: $yellow;
     margin: auto;
     border: solid 3px white;
}